*.jpg
*.png
*~
*.t7
*.dat

images/
releases/
build/
Lib/unittest-cpp/builds/

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
representation.txt
OpenFaceCpp
run_tests
/Models/openface/
.vs/
